In [32]:
# months

from os import getcwd
from pathlib import Path
#  glob.glob('path', recursive=True)
# определяет путь ЮЗЕРОВ (не админа) до mport_lib !даже если папка скрытая (точка спереди)! 
user_path = '/'.join(getcwd().split('/')[:4])
admin_path = '/'.join(getcwd().split('/')[:3])
exec_f_path = [ str(j) for j in Path( '/srv/jhub' ).glob("**/*mport_lib*") ] [0] 
with open( exec_f_path,'r') as exec_f:
        exec(exec_f.read())
        
        
        
        
        
date_start = '2017-01-01' # какие года от до
date_end = (pd.Timestamp.now()).strftime( '%Y-%m-%d' ) # '2021-01-15'


df_date_d = pd.DataFrame({'end':pd.date_range(date_start, date_end, freq='d')}) 
df_date_d['start'] = df_date_d['end'] + pd.offsets.Day(1) 
df_date_d = df_date_d[['start','end']]
# df_date_d = df_date_d.applymap(lambda x: datetime.strptime(x, '%Y-%m-%d') )  # надо тип стриндгу не дату 
df_date_d = df_date_d.applymap(lambda x:  x.strftime('%Y-%m-%d') )

# for i in df_date_d.iloc[-8:-7,:].values:
#     print(f'{i[0]} || {i[1]}')
# df_date_d

           start         end
0     2017-01-02  2017-01-01
1     2017-01-03  2017-01-02
2     2017-01-04  2017-01-03
3     2017-01-05  2017-01-04
4     2017-01-06  2017-01-05
...          ...         ...
2078  2022-09-11  2022-09-10
2079  2022-09-12  2022-09-11
2080  2022-09-13  2022-09-12
2081  2022-09-14  2022-09-13
2082  2022-09-15  2022-09-14

[2083 rows x 2 columns]

In [14]:
# df_date_m = pd.DataFrame({'end':pd.date_range(date_start, date_end, freq='d')}) 

df_date_m['start'] = df_date_m['end'] + pd.offsets.Day(1) 
df_date_m

            end      start
0    2017-01-01 2017-01-02
1    2017-01-02 2017-01-03
2    2017-01-03 2017-01-04
3    2017-01-04 2017-01-05
4    2017-01-05 2017-01-06
...         ...        ...
2443 2023-09-10 2023-09-11
2444 2023-09-11 2023-09-12
2445 2023-09-12 2023-09-13
2446 2023-09-13 2023-09-14
2447 2023-09-14 2023-09-15

[2448 rows x 2 columns]

In [13]:
df_date_m['end'] + pd.offsets.Day(1)

0      2017-01-02
1      2017-01-03
2      2017-01-04
3      2017-01-05
4      2017-01-06
          ...
2443   2023-09-11
2444   2023-09-12
2445   2023-09-13
2446   2023-09-14
2447   2023-09-15
Name: end, Length: 2448, dtype: datetime64[ns]